.rtl
  font-family: "Roboto", sans-serif
  direction: rtl

  #nav
    li
      margin-right: 0px !important // @stylint ignore
      padding-left: 15px
      border-right: 0px !important // @stylint ignore
      border-left: 1px dotted $color-accent-1

    li:last-child
      margin-right: 15px !important // @stylint ignore
      border-left: 0 !important // @stylint ignore

  #header
    #logo
      float: right

  #footer
    li
      margin-right: 0px
      padding-left: 15px
      border-right: 0px
      border-left: 1px dotted $color-border

    li:last-child
      margin-right: 15px !important // @stylint ignore
      border-left: 0 !important // @stylint ignore

    #logo
      float: right

  article
    .content
      h2:before
        right: -1rem

@media (min-width: 480px)
  .post-list
    .post-item
      .meta
        text-align: right